# ignore all data - this is too big for git
data/

# ignore results - this is also too big for git
results/

# ignore some old files
old_method/
bak/

# local backups
__pycache__/
.ipynb_checkpoints/

# local virtual environment
handbag-env/
test-env/

# ignore personal changes in central_group csv
src/files/central_groups.csv

.vscode

*.pptx
*.xlsx

src/notebooks/directionalities_10_03_rcome_ret_kmeans.csv
src/files/central_groups.csv
